@import url("cards/__description/cards__description.css");
@import url("cards/__image/cards__image.css");
@import url("cards/__item/cards__item.css");
@import url("cards/__title/cards__title.css");

.cards {
    /*need to make 3 on row 1*/
    flex-wrap: wrap; /*table*/
    display: flex; /*table*/
    list-style: none; /*table*/
    justify-content: flex-start;
    width: 1020px;
}