.header__square-pic {
    height: 568px;
    width: 568px;
    background: #2F80ED;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 0;
    transform: rotate(15deg);
    overflow: hidden;
    animation: rotation 20s linear infinite;
}

