@import url("__logo-zone/resources__logo-zone.css");
@import url("__logo/resources__logo.css");

/* Useful Resources */
.resources {
    margin: 100px auto 217px;
    display: flex; /*footer*/
    justify-content: center; /*footer*/ 
    flex-direction: column; /*footer*/
}

/*be sure to add the links*/

/* section-title */
/* section-subtitle */




