
.feynman__link {
    text-decoration: none;
    position: absolute;
    right: 48px;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #000000;
    opacity: 3;
}

.feynman__link:hover {
    opacity: 0;
    transition: opacity 0.3s ease;  
}
