.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2F2;
    display: flex;
    position: relative;
    align-items: center;
}

.logo {
    background-size: 154px 31px;
    width: 154px;
    height: 31px;
}

.logo_place_header {
    position: absolute;
    left: 64px;
    top: 30px;
}

.header__title {
    max-width: 730px;
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
}

.header__subtitle {
    max-width: 388px;
    position: absolute;
    left: 64px;
    bottom: 30px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.header__link {
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
    text-decoration: none;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.header__square-pic {
    height: 568px;
    width: 568px;
    background: #2F80ED;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 0;
}

.content {
    
}

.description {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    width: 80%;
}

.two-columns {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    
}

.two-columns__brief {
    min-width: 175px;
    color: #2F80ED; 
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 20px;
}

.two-columns__main-text {
    display: flex;
    flex-direction: column;
    min-width: 784px;
    width: 80%;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 0;
}

.two-columns__span-accent {
    font-weight: bold;
    line-height: 34px;
    font-size: 24px;
}

.digits {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px auto;
}

.section-title {
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    max-width: 60%;
    align-self: center;
}

.section-subtitle {
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 0 auto;
    max-width: 60%;

}

.table {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 100px;
    padding: 0;
    list-style: none;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
}

.table__heading {
    margin: 0 auto;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 20px auto 0;
}

.feynman {
    min-height: 790px;
    background-image: url("../images/feynman.png"); 
    background-color: #F2F2F2;
    position: relative;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 867px 627px;
    padding-top: 100px;
}

.feynman__title {
    max-width: 775px;
    margin: 0 auto 70px;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
}

.feynman__subtitle {
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}

.feynman__link {
    text-decoration: none;
    position: absolute;
    right: 48px;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #000000;
}


.kaufman {
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    overflow: hidden;
}

.section-title_theme_dark {
    line-height: 69px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #F2F2F2;
    margin: 0 auto 20px;
    max-width: 60%;
    z-index: 2;
}

.section-subtitle_theme_dark {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    color: #F2F2F2;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 60%;
    z-index: 2;
}

.table__theme_dark {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}
}

.table__heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.table__text_theme_dark {
    line-height: 1.3;
    font-size: 18px;
    font-weight: normal;
    color: white;
}

.kaufman__triangle {
    background-image: url(../images/kaufman-triangle.svg);
    background-repeat: no-repeat;
    width: 877px;
    height: 877px;
    position: absolute;
    right: -210px;
    top: 0;
    z-index: 0;
}

.footer {
    background-color: #1F1F1F;
    min-height: 350px;
    display: flex; 
    justify-content: center;
}

.footer__columns {
    max-width: 90%;
    justify-content: space-between;
    display: flex;
    margin-top: 60px;
    margin-bottom: 40px;
    
}

.footer__column {
    color: white;
}

.footer__column_content_copyright {
    flex-basis: 711px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.footer__column_content_info {

}

.footer__column_content_social {

}

.logo_place_footer {
    background-image: url(./image/logo_place_footer.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 183px; 
    height: 35px;
}

.footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin: 18px auto;
    
}

.footer__column-heading {
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto 20px;
}

.footer__column-links {
    line-height: 30px;
    font-size: 18px;
    margin: 0;
    padding 0;
    font-weight: normal;
    list-style:none;
    
}

.footer__column-link {
    color: #F2F2F2;
    text-decoration: none;
    list-style:none;
    margin-bottom: 16px;
}

.footer__social-icon {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}