/* Khan */
.khan {
    background-color: #F2F2F2;
    min-height: 790px;
    display: flex; /*header*/
    /*position: relative; /*header*/
    justify-content: center; /*header*/
    flex-direction: column; /*header*/
    margin: 105px auto 0;
    padding-top: 105px;
}




