/* Ted Talks */
.video {
    display: flex; /*footer*/
    justify-content: space-between; /*footer*/ 
    flex-direction: column; /*footer*/
    background-position: bottom; /*not sure*/
    padding-top: 100px;
   /*padding-bottom: 100px;*/
    margin-bottom: -100px; /*does negative get the color?*/
}
/* section-title*/
/* section-subtitle*/

.