.khan__book-container {
    position: relative;
    margin-left: 0;
    /*position: absolute; header*/
    bottom: 0; /*header*/
    right: 0; /*header*/
    background-repeat: no-repeat;  /*feynman*/
    background-position: left bottom; /*feynman*/
    flex-direction: row;
}
