/* Techniques */
/* section-title */
/* section-subtitle */

.techniques {
    display: flex; /*digits*/
    align-items: center;
    flex-direction: column; /*digits*/
    margin-left: auto;
    margin-right: auto;
}
