@import url("kaufman/__triangle/kaurfman__triangle.css");

.kaufman {
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1f1f1f;
    overflow: hidden;
}

