/* Techniques */
/* section-title */
/* section-subtitle */

.techniques {
    display: flex; /*digits*/
    justify-content: center; /*digits*/
    flex-direction: column; /*digits*/
    margin: 0 auto;
}

.cards {
    margin: 100px auto;
    width: 920px;
    flex-wrap: wrap; /*digits*/
    display: flex; /*digits*/
    justify-content: space-between; /*digits*/
    margin: 0 auto; /*digits*/
    padding: 0; /*digits*/
    list-style: none; /*digits*/
    
}

.cards__item {
    margin: 0 100px 0 0;
}

.cards__image {
    margin: 60px 40px;
    width: 160px;
    height: 160px;
    
}

.cards__title {
    margin-top: 43px;
    margin-bottom: 16px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

.cards__description {
    margin-bottom: 60px;
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
    
}
