/*header*/
.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2F2;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
}

.logo {
    background-size: 154px 31px;
    width: 154px;
    height: 31px;
}

.logo_place_header {
    position: absolute;
    left: 64px;
    top: 30px;
}


.header__title {
    max-width: 730px;
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
}

.header__subtitle {
    max-width: 388px;
    position: absolute;
    left: 64px;
    bottom: 30px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.header__link {
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
    text-decoration: none;
}

.header__link:hover {
    background-color: white;
    transition: background-color 1s linear 0.5s;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.header__square-pic {
    height: 568px;
    width: 568px;
    background: #2F80ED;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 0;
    transform: rotate(15deg);
    overflow: hidden;
}