.section-subtitle_theme_dark {
    line-height: 34px; 
    font-size: 24px; 
    font-weight: normal; 
    color: #F2F2F2; 
    text-align: center; 
    margin-top: 0; 
    margin-bottom: 0; 
    max-width: 60%; 
    z-index: 2; 
}
