.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2F2;
    display: flex;
    position: relative;
}

.logo_place_header {
    width: 154px;
    height: 31px;
    position: absolute;
    margin-left: 64px;
    margin-top: 30px;
}

.header__title {
    width: 730px;
    display: flex;
    align-items:center;
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    margin-top: 250px;
}

.header__subtitle {
    width: 388px;
    position: absolute;
    left: 64px;
    bottom: 40px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.header__link {
    width: 388px;
    position: absolute;
    bottom: 30px;
    left: 64px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.header__square-pic {
    height: 568px;
    width: 568px;
    background: #2F80ED;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 0;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
    min-height: 600px;
    max-height: 3780px;
}

.two-columns {
    min-width: 784px;
    display: flex;
    flex-direction: column;
    flex-direction:row;
    width: 80%;
    justify-content: center;
    margin: 100px auto;
}

.two-columns__brief {
    width: 175px;
    color: #2F80ED; 
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    flex-grow: 1;
    margin-right: 25px;
}

.two-columns__main-text {
    flex-grow: 2;
    width: 80%;
}

.two-columns__paragraph {
    margin-bottom: 30px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.two-columns__span-accent {
    margin-bottom: 30px;
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}

.digits {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section__title {
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-bottom: 0;
    margin-top: 100px;
}

.section__subtitle {
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 60px;
    margin-top: 20px;
}

.table {
    width: 1100px;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 100px auto;
}

.table__cell {
    width: 250px;
    margin-bottom: 60px;
    align-content: space-between; 
    list-style: none;
    margin-right: 25px;
}

.table__heading {
    margin-bottom: 20px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    list-style: none;
}

.feynman {
    height: 790px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    background-image: url("../images/feynman.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    shape-image-threshold: 867px 627px;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.feynman__title {
    width: 775px;
    margin-top: 100px;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    position: relative;
    z-index; 2;
    align-self: center;
    margin-bottom: 70px;
}

.feynman__subtitle {
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    position: relative;
    z-index: 2;
}

.feynman__link {
    text-decoration: none;
    position: absolute;
    right: 48px;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #1F1F1F;
    z-index: 2;
}


.kaufman {
    background-color: #1F1F1F;
    height: 790px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    margin: 90px auto 90px auto;
}

.section-title__theme_dark {
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    color: #F2F2F2;
    text-align: center;
    padding-top: 90px;
    position: relative;
    align-content: center;
}

.section-subtitle__theme_dark {
    margin-top: 20px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    color: #F2F2F2;
    text-align: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 90px;
    position: relative;
}

.table__theme_dark {
    width: 1100px;
    height: 1000px;
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-bottom: 90px auto;
}

.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 25px;
    list-style: none;
    color: #F2F2F2;
    margin-bottom: 80px;
    z-index: 1;
}

.table__heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    z-index: 1;
}

.table__text_theme_dark {
    line-height: 1.3;
    font-size: 18px;
    font-weight: normal;
    z-index: 1;
}

.kaufman__triangle {
    width: 877px;
    height: 877px;
    position: absolute;
    top: 0;
    bottom: -25%;
    right: 0;
    transform: rotate(20deg);
    margin-right: -210px;
    z-index: 0;
}

footer {
    flex-basis: 711px;
    background-color: #1F1F1F;
    position: relative;
    display: flex;
    margin-top: -100px;
    clear: both;
    height: 300px;
    justify-content: center;
    max-width: 1600px;
    min-width: 1100px;
}

.footer__columns {
    width: 90%;
    display: flex;
    position: relative;
    bottom: 0;
    list-style: none;
}

.footer__content_copyright {
    width: 500px;
    margin-right: 250px;
}

.footer__content_info {
    width: 300px;
    margin-right: 100px;
    color: #1F1F1F;
}

.footer__content_social {
    width: 250px;
    color: #1F1F1F;
    list-style: none;
    text-decoration: none;
}

.logo_place_footer {
    background-image: url(./image/logo_place_footer.png);
    width: 183px;
    height: 35px;
    position: absolute;
    margin-left: 64px;
    margin-top: 10px;
}

.footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #F2F2F2; 
    position: absolute;
    bottom: 0;
    margin-left: 64px;
    margin-bottom: 30px;
}

.footer__column_heading {
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: inline-block;
    overflow: hidden;
    clear: both;
}

.footer__column_links {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #F2F2F2;
    display: inline-block;
    overflow: hidden;
    clear: both;
    text-decoration-line: none;
}

.footer__social_icon {
    margin-right: 10px;
}