.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2F80ED;
    text-decoration: none; /*feynman*/
    opacity: 3;

    
    
}

.khan__buy-link:hover {
    opacity: 0;
    transition: opacity .3s ease;  
}
